
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BikeSharing360</title>
    <link rel="shortcut icon" type="image/png" href="Content/www/favicon.ico"/>
    <link href="Content/build/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    
<div class="mb-site container">
    <section class="mb-header row flex-items-xs-middle">
        <div class="col-xs-4">
            <div class="mb-header-logo u-align-left">
                <img src="Content/www/images/logo.svg" alt="BikeSharing Logo">
            </div>
        </div>
        <div class="col-xs-8">
            <nav class="mb-menu u-align-right">
                <input type="checkbox"
                       class="mb-menu-check is-hidden"
                       name="responsiveMenu"
                       id="responsiveMenu" />

                <label for="responsiveMenu" class="mb-menu-toggle">
                    <span class="mb-menu-line"></span>
                    <span class="mb-menu-line mb-menu-line--middle"></span>
                    <span class="mb-menu-line mb-menu-line--bottom"></span>
                </label>
